body {
    font-family: 'Space Grotesk', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

@font-face {
    font-family: "Cursed Timer ULiL"; 
    src: url("CursedTimerULiL.eot") format("eot"), 
        url("CursedTimerULiL.woff") format("woff"), 
        url("CursedTimerULiL.ttf") format("truetype"), 
        url("CursedTimerULiL.svg#CursedTimerULiL") format("svg");
}

#scoreboard-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("basketball-bg.jpg");
}

.scoreboard {
    background: rgba(0,0,0,0.8);
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    box-shadow: 10px 10px 50px black;
}

.scores-wrap {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}

.score-item {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: #1B244A;
    background: linear-gradient(180deg, rgba(27,36,74,1) 0%, rgba(41,54,111,1) 100%);    padding: 20px;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 20px;
    box-shadow: 10px 10px 50px black;
}

.title {
    color: #EEEEEE; 
    font-size: 40px;
    line-height: 36px;
    letter-spacing: 0em;
    text-transform: uppercase;
}

.points-container {
    background: #080001;
    background: linear-gradient(180deg, rgba(8,0,1,1) 0%, rgba(24,24,24,1) 100%);
    border-radius: 10px;
    margin: 21px 0 26px 0;
    padding: 20px;
    width: 155px;
    text-align: right;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.points {
    color: #F94F6D;
    font-family: "Cursed Timer ULiL";
    font-size: 90px;
    line-height: 90px;
    text-shadow: 0px 0px 10px #F94F6D;
}

.add-points-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.add-points-btn {
    color: #9AABD8;
    background-color: #1B244A;
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    border: 1px solid #9AABD8;
    border-radius: 8px;
    padding: 8px 12px;
    margin: 0 10px;
    box-shadow: 2px 2px 5px #1B244A;
    transition-duration: 0.2s;
}

.add-points-btn:hover {
    color: #EEEEEE;
    border: 1px solid #EEEEEE;
    cursor: pointer;
}

.add-points-btn:active {
    box-shadow: 0px 0px 0px #1B244A;
    transform:scale(0.95);
}

.new-game-btn {
    color: #9AABD8;
    background-color: transparent;
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    border: 1px solid #9AABD8;
    border-radius: 8px;
    height: 45px;
    margin: 0 10px;
    padding: 8px 14px;
    transition-duration: 0.2s;
}

.new-game-btn:hover {
    color: #EEEEEE;
    border: 1px solid #EEEEEE;
    cursor: pointer;
}

.new-game-btn:active {
    box-shadow: 0px 0px 0px #1B244A;
    transform:scale(0.95);
}
